// Custom Container =================================================================================
// Uncomment to override the default breakpoints
//$breakpoint-xs: 599px
//$breakpoint-sm: 1023px
//$breakpoint-md: 1439px
//$breakpoint-lg: 1919px

// @import '~quasar/src/css/variables';

$container-padding: 20px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $breakpoint-sm-min) {
    .container,
    .container-sm {
        max-width: $breakpoint-xs - $container-padding;
    }
}

@media (min-width: $breakpoint-md-min) {
    .container,
    .container-sm,
    .container-md {
        max-width: $breakpoint-sm - $container-padding;
    }
}

@media (min-width: $breakpoint-lg-min) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: $breakpoint-md - $container-padding;
    }
}

@media (min-width: $breakpoint-xl-min) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: $breakpoint-lg - $container-padding;
    }
}
// Custom Container End =================================================================================

.body--dark {
	background-color: #101114;
}
.body--grey {
	background-color: #1C1E22;
}
.body--grey-light {
	background-color: #1c1e22fa;
}
.body--dark-light {
	background-color: #141517;
}
.text-h8 {
	font-size: 11px;
	font-weight: 600;
	line-height: 12px;
	letter-spacing: 0.06em;
}
.text-dark-10 {
	color:#C4C8CF;
}
//========================================================================================================================================================

::-webkit-scrollbar {
	overflow-y: scroll;
	width: 7px;
	background-color: #25272D;
}

::-webkit-scrollbar-thumb {
	background-color: #2d364b;
}